@media (max-width: 768px) {
	.modal-container {
		.modal-details {
			&.mobile-view {
				display: block;
			}
			&.desktop-view {
				display: none;
			}
		}

		img {
			width: 120px;
			height: 180px;
		}
	}

	.modal-container, .modal-background, .modal-background-container {
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		padding-top: 60px;
	}
}
