<div class="modal-background-container">
	<div
		class="modal-background"
		ng-style="{'background-image': 'url(' + posterUrl(modalInfo.movie.poster_path) + ')'}">
	</div>
</div>

<div class="modal-container">
	<div class="modal-nav">
		<div ng-click="closeModal()">
			<i class="fa fa-arrow-circle-o-left"></i> Back to list
		</div>
		<div ng-click="nextModal()">
			Next movie <i class="fa fa-arrow-circle-o-right"></i>
		</div>
	</div>

	<div class="modal-details">

		<img
			ng-src="{{posterUrl(modalInfo.movie.poster_path)}}"
			alt="{{modalInfo.movie.title}} poster">
		<div class="modal-text">
			<h2 class="desktop-view no-margin">{{modalInfo.movie.title}} ({{getYear()}})</h2>
			<ul>
				<li>
					<span class="bold">Score:</span>
					<span>{{modalInfo.movie.vote_average}}</span>
				</li>
				<li>
					<span class="bold">Votes:</span>
					<span>{{modalInfo.movie.vote_count}}</span>
				</li>
				<li>
					<span class="bold">Release Date:</span>
					<span>{{modalInfo.movie.release_date | date}}</span>
				</li>
			</ul>
			<div class="desktop-view">
				<hr>
				<p>{{modalInfo.movie.overview}}</p>
				<hr>
			</div>
		</div>
	</div>

	<div class="mobile-view modal-details-bottom">
		<h2 class="no-margin">{{modalInfo.movie.title}} ({{getYear()}})</h2>
		<div>
			<hr>
			<p>{{modalInfo.movie.overview}}</p>
			<hr>
		</div>
	</div>
</div>
