@media (max-width: 768px) {
	.mobile-view {
		display: block;
	}
	.desktop-view {
		display: none;
	}

	#main {
		padding: 60px 10px 0 10px;
	}

	.navbar-container .navbar-items {
		padding: 0 10px;
	}

	.movie-container {
		img {
			width: $mobile-image-width + px;
			height: calculate-height($mobile-image-width) + px;
		}
		.tooltip {
			width: $mobile-image-width + px;
		}
	}

	.page-nav-container {
		button {
			padding: 3px 6px;
		}
	}

	.modal-container {
		p {
			font-size: 14px;
		}
		.modal-details {
			justify-content: flex-start;
			padding: 0 40px 20px 40px;
			.modal-text {
				padding-left: 20px;
				ul {
					display: block;
					margin: 0;
					li {
						&:after {
							content: '';
						}
						span {
							display: block;
						}
					}
				}
			}
		}

		img {
			width: $mobile-modal-image-width + px;
			height: calculate-height($mobile-modal-image-width) + px;
		}
	}

	.modal-container, .modal-background, .modal-background-container {
		width: 100vw;
		min-height: 100vh;
		top: 0;
		left: 0;
		padding-top: 60px;
	}
}
